body {
  font: 20px Helvetica, arial;
}

.navbar {
  background-color: white;
}
.quem-somos {
  background-color: #5d8fc4;
  color: white;
}

.margin {
  padding-top: 30px;
}

.empresa {
  padding-top: 15px;
}

.col-md-4 {
  padding-top: 15px;
  margin-bottom: 35px;
}

.clientes {
  background-color: white;
}

.contato {
  background-color: white;
}

.bg-footer {
  background-color: black;
  color: white;
}

.footer {
  float: right;
}
